$primary-color:#3b5a76;
$background-color:#ededed;
$text-color:#363636;
$font:16px;
$very-dark-gray :#555;
$very-light-gray    :#e7e7e7;
$dark-cyan  :#1caa98;
$very-dark-blue :#1b222a;


body {
    padding-bottom:0;
    font-family: 'Open Sans', Arial, Tahoma;
    color:$text-color;
    background: $background-color;
    font-size: $font;
}
.navbar {
    padding:0;

}

.nav.navbar-nav {
    .nav-link{
        padding:0.85rem 1rem;
    }
    .active{
        .nav-link{
            color:$very-dark-gray;
            background:$very-light-gray;
        }
    }
}

.navbar-brand {
    padding:.65rem;
}

h2 {
    font-weight:700;
    text-transform: uppercase;
    line-height: 1.4em;
    font-size: 1.5em;
    margin-top:20px;
}
//
.primary,
strong,
h2 {
    color: $primary-color;
}
//
.main-container {
    background: #fff;
    position:relative;
    top:60px;
    margin-bottom:60px;
    padding:0 30px 30px 30px;
}
//
header {
    min-height: 100px;
    //overflow: auto;
  }

  header h1 {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
    line-height: 1.4em;
  }
//
  .row {
      margin-bottom:20px;
  }
//
  .profile-img {
      width:180px;
      height:200px;
      display:block;
      margin:75px auto -50px ;
      position:relative;
      top:-80px;

  }
//
  .line {
      max-width: 100%;
  }
//
  .contact-list{
      padding:0;
      margin:0;
  }

  .contact-list li {
      list-style:none;
      font-weight:bold;
      line-height: 3.2rem;
  }
//
  .contact-list span {
      display:block;
      margin:0;
      padding:0;
      line-height: 0.1rem;
      margin-left: 37px;
      font-size: 15px;
      color: #ccc;
  }

  .work-list li {
	list-style: none;
	float: left;
	padding: 0 10px 0 10px;
	margin-bottom: 30px;
}
//
  .media {
      background:$background-color;
      padding:10px;
  }
//
  .media-left {
      width:85px;
      padding:0 10px 0 0;
  }
//
  .progress {
      height:1.25rem;
      margin-bottom:1.25rem;
  }
.progress-position{
    margin-bottom: 50px;

}

  footer {
     background:$very-light-gray;;
     color:gray;
     padding: 30px 0 20px 0;
     width: 100%;
 }

 footer li {
     float:left;
     padding: 0 10px 0 10px;
     list-style:none;
      color:gray;
 }

 footer a {
     color: white;
 }

 footer p {
     float:right;
 }
 #translate{
     margin-right: 40px;
 }
